{% extends 'core/base.html' %}
{% block title %}Posts{% endblock title %}

{% block content %}
	<div class="card shadow bangla-post">
		<div class="card-header">{{feed_post.post_title}}</div>
		<div class="card-body">
			{{feed_post.post_content|safe}}
			<hr>
			<small>{{feed_post.privacy}}</small>
			<hr>
			<small>{{feed_post.posted_on|date}}</small>
			{% if user.is_authenticated %}
				<hr>
				<small>{{feed_post.post_author}}</small>
			{% endif %}
		</div>
	</div>
	
	
{% endblock content %}
